{% extends "base.html.twig" %}

{% block content %}
    <h1>{{ content.title }}</h1>

    {{ content.article|raw }}

    <h2> Form </h2>
    {% set formView = sulu_form_build(content.form, 'page', object.resource.id|default('')) %}
    {% if app.request.get('send') != 'true' %}
        {% if formView %}
            {# FORM THEME #}
            {% form_theme formView '@SuluForm/themes/basic.html.twig' %}
            {{ form(formView) }}
        {% endif %}
    {% else %}
        {{ view.form.entity.successText|raw }}
    {% endif %}
{% endblock %}
